<div class="single-social_connect">
    <div class="social_connect_img">
        <img src="{{ asset(image) }}" class="" alt="blog">
        <div class="social_connect_overlay">
            <a href="https://instagram.com/bibichecoiffure"><span class="ti-instagram"></span></a>
        </div>
    </div>
</div>