{% extends 'base.html.twig' %}

{% block body %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle text-left">
                        <h2>Votre Magasin</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb_content text-right">
                        <p>Accueil<span>/</span>Magasin</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <section class="all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single_post post_1 feature_post">
                                <div class="single_post_img">
                                    <img src="" alt="">
                                </div>
                                <div class="single_post_text text-center">
                                    <div><h1 style="color: red;"> Commerce en ligne</h1></div>
                                    <div><h2>En Construction</h2></div>
                                    <div>
                                        <h3>></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}